<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resa Form</title>
</head>
<body>
    <h1>What's ur number?</h1>
    <form method="post">
        <label for="number_1">Number n°1 :</label>
        <input type="text" id="number_1" name="number_1" required>
        <label for="number_2">Number n°2 :</label>
        <input type="text" id="number_2" name="number_2" required>
        <button type="submit">Submit</button>
    </form>

    <!-- Display all number between number_1 and number_2 -->
    <div th:if="${number_1_test != null && number_2 != null}">
        <h2>Numbers between [[${number_1_test}]] and [[${number_2}]] :</h2>
        <table border="1">
            <tr>
                <th>Number</th>
            </tr>
            <tr th:each="num : ${#numbers.sequence(number_1_test, number_2)}">
                <td th:text="${num}"></td>
            </tr>
        </table>
    </div>
</body>
</html>
